<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>baseline</servlet-name>
        <servlet-class>nz.ac.wgtn.veracity.spikes.provenanced.baseline.PremiumCalculatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>baseline</servlet-name>
        <url-pattern>/baseline/premiumcalculator/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>instrumented</servlet-name>
        <servlet-class>nz.ac.wgtn.veracity.spikes.provenanced.provenanced.PremiumCalculatorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>instrumented</servlet-name>
        <url-pattern>/instrumented/premiumcalculator/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>provenance</servlet-name>
        <servlet-class>nz.ac.wgtn.veracity.spikes.provenanced.provenanced.ProvenanceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>provenance</servlet-name>
        <url-pattern>/provenance/*</url-pattern>
    </servlet-mapping>

</web-app>